:root {
  font-family: sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  width: 500px;
}

h1,
h2,
p {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 0.5rem;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}

hr {
  width: 3em;
  height: 3px;
  border: 0;
  background-color: rgba(255, 255, 255, 0.87);
  margin-left: 0;
}

.weather-now {
  font-size: 3em;
  margin-bottom: 4rem;
}

.italic {
  font-style: italic;
}

.small {
  font-size: 0.8em;
}

.dim {
  opacity: 0.75;
}

.icon-and-text {
  display: flex;
  align-items: center;
  /* justify-content: space-between;
  width: 100%; */
}

.icon-and-text > i {
  padding-right: 0.25rem;
}

.forecast-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 20%;
}

.forecast-day > i {
  padding-bottom: 1rem;
}

.larger {
  font-size: 2em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  hr {
    background-color: #213547;
  }
}
